<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>Scheduler</title>
	<base href="/">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
	<app-root>Loading...</app-root>

	<!-- Schedule Appointment Template -->
	<script id="apptemplate" type="text/ng-template">
		<div class="appointment-template" style="height: 100px;" data-id="{{:Id}}">
			<div>{{:Subject}}</div>
			{{if Vehicle}}
			<div class="vehicle-box item-box">
				<div class="close remove-item">&times;</div>
				<div class="vehicle-content">
						{{:Vehicle.name}}
				</div>
			</div>
			{{/if}}
			{{if Driver}}
			<div class="driver-box item-box">
				<div class="close remove-item">&times;</div>				
				<div class="driver-content">
						{{:Driver.name}}
				</div>
			</div>
			{{/if}}			
		</div>
   </script>
</body>

</html>